<?xml version="1.0" encoding="utf-8"?>
<robot name="simple_box">
  <link
    name="base">
    <inertial>
      <origin
        xyz="0.021112 0 -0.005366"
        rpy="0 0 0" />
      <mass
        value="6.921" />
      <inertia
        ixx="0.02448"
        ixy="0.00012166"
        ixz="0.0014849"
        iyy="0.098077"
        iyz="-3.12E-05"
        izz="0.107" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_pkg/dae/base.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.3762 0.0935 0.114" />
      </geometry>
    </collision>
  </link>
</robot>